# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
migrations
env
venv

# General #
*.egg-info/
*.egg

# Others #
.antlr
.session
.DS_Store
build
.vscode
js.session
.idea
mydatabase
*Zone.Identifier

**/*.jir
**/*.bin
dialogue_intent_model
entity_extraction_model
